
.App {
  text-align: center;
}


.nav {
  background-color: #222;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 2em;
}

.nav-wrapper {
  background-color: black;
  width: 90%;
  margin: 0px auto;
  text-align: left;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav ul li {
  display: inline-block;
}

.nav ul li:hover {
  background-color: #333;
}

.nav ul li a,
visited {
  display: block;
  padding: 15px;
  color: #CCC;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.order_list_container ul {
  display: inline;
}

.product_list {
  margin: 5% auto;
  width: 1000px;
  list-style: none;
}

.product_list li {
  display: table-cell;
  background-color: #F3F3F3;
  border-radius: 20px;
  float: left;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 2px solid #085500;
}

.product_list li img {
  width: 300px;
  height: 300px;
  float:left;
}

li .product_desc {
  font-size: 16px;
  margin: 10px;
}

li .product_title {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.add_to_cart_button button {
  color: white;
  font-size: 1em;
  width: 150px;
  height: 50px;
  background-color: #085500;
  border-radius: 12px;
  margin: 10px;
}

.order_list {
  top: 60px;
  margin: 5% auto;
  width: 500px;
  list-style: none;
}


/* Use to afix order totals when scrolling*/
/* .order_info_table {
  display: inline;
  position: fixed;
  margin: 5% auto;
  float: left;
  width: 20%;
} */
/* .order_info {
  display: inline;
  float: left;
  margin-top: 5%;
  margin-bottom: 1000px;
  width: 25%;
} */

.order_info {
  display: inline;
  float: left;
  margin-top: 5%;
  margin-bottom: 1000px;
  width: 30%;
}

.order_info_table {
  display: inline;
  margin: 5% auto;
  float: left;
  width: 80%;
}

.order_list_container {
  display: inline;
}

.order_list li {
  display: table-cell;
  background-color: #F3F3F3;
  border-radius: 20px;
  float: left;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #085500;
}

.order_list li img {
  width: 100px;
  height: 100px;
  float:left;
}

li .order_title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bolder;
}

.remove_item_button button {
  color: white;
  text-align: center;
  font-size: 8px;
  width: 50px;
  height: 17px;
  background-color: #085500;
  border-radius: 4px;
  margin: 3px;
}

table {
  table-layout: fixed;
  align-content: center;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td:first-child, th:first-child {
  width: 20%;
}

td:not(:first-child), th:not(:first-child) {
  width: 10%;
}

tr:hover {
  background-color:#f5f5f5
}

tr {
  width: 50%;
}

.orders_table {
  margin: 5% auto;
  width: 35%;
}

.orders_wrapper {
  width: 100%
}

